<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <!--
    <target name="filetg" xsi:type="File" encoding="UTF-8" bufferSize="4096" autoFlush="true" fileName="${basedir}/logs/${shortdate}/${date:format=HH}.txt" layout="[${longdate}] [${level}] [${stacktrace}] ${message}" />
    <target name="consoletg" xsi:type="ColoredConsole"  layout="[${longdate}] [${level}] [${stacktrace}] ${message}"/>
    -->
    <target name="filetg" xsi:type="File" encoding="UTF-8" bufferSize="4096" autoFlush="true" fileName="${basedir}/logs/${shortdate}/${date:format=HH}.txt" layout="[${longdate}] [${level}] ${message}" />
    <target name="consoletg" xsi:type="ColoredConsole"  layout="[${longdate}] [${level}] ${message}"/>
  </targets>

  <rules>
    <logger name="*" levels="Debug,Info,Warn,Error,Fatal" writeTo="filetg,consoletg" />
  </rules>
</nlog>