<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--短信拒识长度，当短信长度大于该数字时拒识-->
		<add key="SMSMaxLen" value="128"/>
		<!--表示数据的来源：0 表示来自Excel     1表示来自数据库-->
		<add key="DataSource" value="1"/>
		<!--表示数据的输出：0 表示输出Excel     1表示输出文件txt-->
		<add key="DataOutput" value="1"/>
		<!--输入数据文件-->
		<add key="InputFile" value="../../resource/test.xlsx"/>
		<!--输入数据库配置-->
		<!-- 数据库连接字符串 -->
		<add key="ConnectionString" value="User ID=sa;Initial Catalog=ECSS20_AHMobile;Data Source=localhost\CMLU;Password=558276344"/>
		<!--Select语句 select 的各项依次是短信内容，业务名，操作名-->
		<add key="SelectSQL" value="SELECT [usercontent],[bizname],[operaname] FROM [WordFrequency]"/>
		
		<!--各种文件资源-->
		<!--存放汉字，每字占一行-->
		<add key="hanzi" value="../../resource/hanzi.txt"/>
		<!--繁简体表-->
		<add key="trad2Simp" value="../../resource/Trad2Simp.txt"/>
		<!--talking表-->
		<add key="talking" value="../../resource/talking.txt" />
		<!--拒识短信表-->
		<add key="smsrefuse" value="../../resource/smsrefuse.txt"/>
		<!--应识别短信表-->
		<add key="sms" value="../../resource/sms.txt"/>
		<!--各种文件资源-->
		
		
	</appSettings>
</configuration>